#### BOT DATA GATE GENERAL INSTRUCTIONS

LANGODATA GENERAL INSTRUCTIONS FOR MACROECONOMICS DATA
LangoData MSP Analysis Module was innovated by the BOT AI & Data Innovation Hub
Email: adihub@bot.go.tz Date: 09 Jan 2026 Version: 1.0.2

Objectives
(1) To ease and democratize data access to internal and external sources
(2) To provide platform for analysis of voluminous data across multiple sources and formats
(files, databases, APIs, etc)
(3) To provide platform that for execution of advanced data analysis tools (Python and R languages, as well as Machine Learning and data mining methods).

Instructions
Ensure selected kernel is Python (LangoData Client)
To pull individual data reports use the following function
data = read_data(data_group, data_source, data_type, data_frequency, start_period, end_period)
example: data = read_data('MACROECONOMICS','DWH','CPI','MONTHLY','31-JAN-1960','31-JAN-2026')
To extract data frame use data['df'] error use data['error'] information use data['info']
To save example: data['df'].to_csv(Path.home() / "report.csv")
This template can be updated but changes cannot be saved. You can copy updated template or cells to your home.


Reports Codes: 
CPI for Consumer Price Index
BOP for Balance of Payment

#### Data Extraction

In [8]:
import os
import pandas as pd
import numpy as np


from langodata.utils import read_data

res = read_data('MACROECONOMICS','DWH','BOP','MONTHLY','31-JAN-1960','31-JAN-2026')

09-01-2026 12:03:04 [INFO] Macroeconomics data successfully retrieved.

#### Analysis

In [9]:
res['df'].head()

,TIME_PERIOD,YEAR,MONTH,QUARTER,LOCATION_NAME,INDICATOR_NAME,INDICATOR_DESCRIPTION,VALUE,UNIT,FREQUENCY,SOURCE
0,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_interest_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
1,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_principal_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
2,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_imports,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
3,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_impor...,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
4,2025-06-21,2025,6,2,Tanzania,ca,A. Current Account,-369.552331,TZS,M,Bank of Tanzania

In [10]:
res['df']

,TIME_PERIOD,YEAR,MONTH,QUARTER,LOCATION_NAME,INDICATOR_NAME,INDICATOR_DESCRIPTION,VALUE,UNIT,FREQUENCY,SOURCE
0,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_interest_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
1,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_principal_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
2,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_imports,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
3,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_impor...,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
4,2025-06-21,2025,6,2,Tanzania,ca,A. Current Account,-369.552331,TZS,M,Bank of Tanzania
...,...,...,...,...,...,...,...,...,...,...,...
27495,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_general_government_debt...,"Other investment, Liabilities, General gove...",-16.664229,TZS,M,Bank of Tanzania
27496,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_banks,"Other investment, Liabilities, Banks",0.756652,TZS,M,Bank of Tanzania
27497,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors,"Other investment, Liabilities, Other sectors",8.816667,TZS,M,Bank of Tanzania
27498,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors_drawings,"Other investment, Liabilities, Other sector...",9.816667,TZS,M,Bank of Tanzania
27499,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors_repayments,"Other investment, Liabilities, Other sector...",-1.000000,TZS,M,Bank of Tanzania

#### Data Use

In [11]:
df = res['df']
#df1.head(10)

In [12]:
df

,TIME_PERIOD,YEAR,MONTH,QUARTER,LOCATION_NAME,INDICATOR_NAME,INDICATOR_DESCRIPTION,VALUE,UNIT,FREQUENCY,SOURCE
0,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_interest_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
1,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_principal_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
2,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_imports,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
3,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_impor...,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
4,2025-06-21,2025,6,2,Tanzania,ca,A. Current Account,-369.552331,TZS,M,Bank of Tanzania
...,...,...,...,...,...,...,...,...,...,...,...
27495,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_general_government_debt...,"Other investment, Liabilities, General gove...",-16.664229,TZS,M,Bank of Tanzania
27496,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_banks,"Other investment, Liabilities, Banks",0.756652,TZS,M,Bank of Tanzania
27497,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors,"Other investment, Liabilities, Other sectors",8.816667,TZS,M,Bank of Tanzania
27498,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors_drawings,"Other investment, Liabilities, Other sector...",9.816667,TZS,M,Bank of Tanzania
27499,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors_repayments,"Other investment, Liabilities, Other sector...",-1.000000,TZS,M,Bank of Tanzania

res['info']

In [13]:
res['debug']

'No handler found for data group: MACROECONOMICS'

In [14]:
res['df'].head(3)

,TIME_PERIOD,YEAR,MONTH,QUARTER,LOCATION_NAME,INDICATOR_NAME,INDICATOR_DESCRIPTION,VALUE,UNIT,FREQUENCY,SOURCE
0,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_interest_arrears,"E. Reserves and Related Items , Exceptional fi...",0.0,TZS,M,Bank of Tanzania
1,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_principal_arrears,"E. Reserves and Related Items , Exceptional fi...",0.0,TZS,M,Bank of Tanzania
2,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_imports,"E. Reserves and Related Items , Exceptional fi...",0.0,TZS,M,Bank of Tanzania

In [15]:
res['df']

,TIME_PERIOD,YEAR,MONTH,QUARTER,LOCATION_NAME,INDICATOR_NAME,INDICATOR_DESCRIPTION,VALUE,UNIT,FREQUENCY,SOURCE
0,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_interest_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
1,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_principal_arrears,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
2,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_imports,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
3,2025-06-21,2025,6,2,Tanzania,reserves_exceptional_financing_months_of_impor...,"E. Reserves and Related Items , Exceptional fi...",0.000000,TZS,M,Bank of Tanzania
4,2025-06-21,2025,6,2,Tanzania,ca,A. Current Account,-369.552331,TZS,M,Bank of Tanzania
...,...,...,...,...,...,...,...,...,...,...,...
27495,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_general_government_debt...,"Other investment, Liabilities, General gove...",-16.664229,TZS,M,Bank of Tanzania
27496,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_banks,"Other investment, Liabilities, Banks",0.756652,TZS,M,Bank of Tanzania
27497,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors,"Other investment, Liabilities, Other sectors",8.816667,TZS,M,Bank of Tanzania
27498,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors_drawings,"Other investment, Liabilities, Other sector...",9.816667,TZS,M,Bank of Tanzania
27499,1997-01-01,1997,1,1,Tanzania,fa_oth_inv_liabilities_other_sectors_repayments,"Other investment, Liabilities, Other sector...",-1.000000,TZS,M,Bank of Tanzania

In [16]:
df.columns

Index(['TIME_PERIOD', 'YEAR', 'MONTH', 'QUARTER', 'LOCATION_NAME',
       'INDICATOR_NAME', 'INDICATOR_DESCRIPTION', 'VALUE', 'UNIT', 'FREQUENCY',
       'SOURCE'],
      dtype='object')

In [17]:
df.shape

(27500, 11)

In [18]:
df.dtypes

TIME_PERIOD              datetime64[ns]
YEAR                              int64
MONTH                             int64
QUARTER                           int64
LOCATION_NAME                    object
INDICATOR_NAME                   object
INDICATOR_DESCRIPTION            object
VALUE                           float64
UNIT                             object
FREQUENCY                        object
SOURCE                           object
dtype: object

In [ ]:
mask = ((df['DESCRIPTIONNO']==1) & (df['AMOUNT'] < 20000000 ))

KeyError: 'DESCRIPTIONNO'

:

In [ ]:
df[mask]

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
15,M631,2024-06-30,1,1. INTEREST INCOME,4225000.0,4225000.0
119,M393,2024-06-30,1,1. INTEREST INCOME,2135000.0,0.0
193,M412,2024-06-30,1,1. INTEREST INCOME,16812800.0,30263040.0
248,MG41,2024-06-30,1,1. INTEREST INCOME,74409.0,127967.0
252,MA73,2024-06-30,1,1. INTEREST INCOME,0.0,1055250.0
...,...,...,...,...,...,...
38273,M012,2024-06-30,1,1. INTEREST INCOME,9860000.0,0.0
38338,MH25,2024-06-30,1,1. INTEREST INCOME,956825.0,2111061.0
38365,M441,2024-06-30,1,1. INTEREST INCOME,2185895.0,4237395.0
38392,MI26,2024-06-30,1,1. INTEREST INCOME,2080000.0,2080000.0
38467,MG69,2024-06-30,1,1. INTEREST INCOME,0.0,0.0

In [ ]:
#export to csv
#res['df'].to_csv(cfg.dataCollectionFolder + "data.csv")
res['df'].to_csv("C:\\MSP\\dataFiles\\data1.csv")

In [ ]:
df.shape

(55875, 5)

In [ ]:
df.head()

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT
0,M716,2024-06-30,9,(a )Treasury Bills,0.0
1,M716,2024-06-30,10,(b) Other Government Securities,0.0
2,M716,2024-06-30,12,(d) Others,0.0
3,M393,2024-06-30,45,(iii) Other Borrowings,0.0
4,M393,2024-06-30,59,(h) Profit/Loss,0.0

#### Save Data

In [ ]:
#export to csv
res['df'].to_csv(Path.home() / "report.csv")