#### BOT DATA GATE GENERAL INSTRUCTIONS

In [ ]:
"""
Data Gate Developer: Rweyemamu Barongo 
Email:  ribarongo@bot.go.tz, rbarongo@gmail.com
Date:   14 Jan 2025
Version: 1.0.1

Objectives
 (1) To ease data collection from internal and external source using one collection point, user-friendly access 
     and flexibility of data analysis.
 (2) To provide platform for analysis of voluminous data accross multiple sources and formats 
     (files, databases, APIs, etc)
 (3) To provide platform that enables BOT's adoption and execution of advanced data analysis tools using machine learning 
     and data mining methods to enrich BOT decision insights. 

Completed modules
 (1) MSP individual and consolidated reports
 (2) ITRS reports

       
To pull individual data reports use the following function 
   data = read_data(data_group, data_source, data_type, institution_code, start_period, end_period)   
   example: data = read_data('MSP','BSIS','01','M100','31-MAY-2024','31-JUL-2024')

To pull institution profile use the following function  
   data = read_profile('MSP','BSIS','M100')
   example:  data = read_profile(data_group, data_source,institution_code)
To extract 
   data frame use data['df']
   error use data['error']
   information use data['ínfo']
To save 
   example: data['df'].to_csv("data.csv")

   
Example:
Data Groups: MSP, BANK, ...
Data Source:      BSIS
Data Type or ReportName: 
   MSP: 01,02,03,04,05,06,07,08,09,10,CONS01..CONS07I..CONS07IV,CONS08..CONS10
   ITRS:
Institution Code:
   MSP: M100
Start or end period should be in format 'DD-MON-YYYY' eg '24-DEC-2024'

Future extension
Add other requested modules and features for users' monitoring of submissions
"""

'\nData Gate Developer: Rweyemamu Barongo \nEmail:  ribarongo@bot.go.tz, rbarongo@gmail.com\nDate:   14 Jan 2025\nVersion: 1.0.1\n\nObjectives\n (1) To ease data collection from internal and external source using one collection point, user-friendly access \n     and flexibility of data analysis.\n (2) To provide platform for analysis of voluminous data accross multiple sources and formats \n     (files, databases, APIs, etc)\n (3) To provide platform that enables BOT\'s adoption and execution of advanced data analysis tools using machine learning \n     and data mining methods to enrich BOT decision insights. \n\nCompleted modules\n (1) MSP individual and consolidated reports\n (2) ITRS reports\n\n\nTo pull individual data reports use the following function \n   data = read_data(data_group, data_source, data_type, institution_code, start_period, end_period)   \n   example: data = read_data(\'MSP\',\'BSIS\',\'01\',\'M100\',\'31-MAY-2024\',\'31-JUL-2024\')\n\nTo pull institution profile use the following function  \n   data = read_profile(\'MSP\',\'BSIS\',\'M100\')\n   example:  data = read_profile(data_group, data_source,institution_code)\nTo extract \n   data frame use data[\'df\']\n   error use data[\'error\']\n   information use data[\'ínfo\']\nTo save \n   example: data[\'df\'].to_csv("data.csv")\n\n\nExample:\nData Groups: MSP, BANK, ...\nData Source:      BSIS\nData Type or ReportName: \n   MSP: 01,02,03,04,05,06,07,08,09,10,CONS01..CONS07I..CONS07IV,CONS08..CONS10\n   ITRS:\nInstitution Code:\n   MSP: M100\nStart or end period should be in format \'DD-MON-YYYY\' eg \'24-DEC-2024\'\n\nFuture extension\nAdd other requested modules and features for users\' monitoring of submissions\n'

In [ ]:
#!pip show requests
#!pip uninstall jwt

#### MSP Data Template

In [1]:
import pandas as pd
import numpy as np

from langodata.utils import read_data, read_profile


#DATA
#FSP register
#res = read_profile('MSP','BSIS','*')
#FSP profile
#res = read_profile('MSP','BSIS','M100')


#individual 
#res = read_data('MSP','BSIS','01','M100','31-MAY-2024','31-JUL-2024')

#individual for all institutions
res = read_data('MSP','BSIS','02','*','31-MAY-2024','31-JUL-2024')


#consolidated
#res = read_data('MSP','BSIS','CONS10','*','30-SEP-2024','30-SEP-2024') # verify cons 8   BSIS128EKM

Please log in to continue.

01-01-2026 08:17:46 [INFO] Login successful
01-01-2026 08:18:03 [INFO] Data successfully retrieved.

In [2]:
res['df'].head()

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
0,M393,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
1,M631,2024-06-30,33,j. Management Fees,0.0,0.0
2,M392,2024-06-30,14,4. BAD DEBTS WRITTEN OFF NOT PROVIDED FOR,0.0,0.0
3,M392,2024-06-30,40,8. NET INCOME / (LOSS) BEFORE INCOME TAX (3+6 ...,2338435.0,12669800.0
4,M631,2024-06-30,24,a. Managements' Salaries and Benefits,0.0,0.0

In [7]:
#!pip install oracledb

Requirement already satisfied: oracledb in c:\_rwey\python\langodata\langodatarep\langodataenv\lib\site-packages (3.4.1)
Requirement already satisfied: cryptography>=3.2.1 in c:\_rwey\python\langodata\langodatarep\langodataenv\lib\site-packages (from oracledb) (46.0.3)
Requirement already satisfied: typing_extensions>=4.14.0 in c:\_rwey\python\langodata\langodatarep\langodataenv\lib\site-packages (from oracledb) (4.15.0)
Requirement already satisfied: cffi>=2.0.0 in c:\_rwey\python\langodata\langodatarep\langodataenv\lib\site-packages (from cryptography>=3.2.1->oracledb) (2.0.0)
Requirement already satisfied: pycparser in c:\_rwey\python\langodata\langodatarep\langodataenv\lib\site-packages (from cffi>=2.0.0->cryptography>=3.2.1->oracledb) (2.23)

In [5]:
res['df']

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
0,M393,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
1,M631,2024-06-30,33,j. Management Fees,0.0,0.0
2,M392,2024-06-30,14,4. BAD DEBTS WRITTEN OFF NOT PROVIDED FOR,0.0,0.0
3,M392,2024-06-30,40,8. NET INCOME / (LOSS) BEFORE INCOME TAX (3+6 ...,2338435.0,12669800.0
4,M631,2024-06-30,24,a. Managements' Salaries and Benefits,0.0,0.0
...,...,...,...,...,...,...
38468,MG69,2024-06-30,6,e. Interest - Others,0.0,0.0
38469,MG69,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
38470,MG69,2024-06-30,13,3. NET INTEREST INCOME (1 less 2),0.0,0.0
38471,MG69,2024-06-30,21,e. Income from Recovery of Charged off As...,0.0,0.0
38472,MG69,2024-06-30,38,o. Utilities Expenses,0.0,0.0

#### Data Use

In [6]:
df = res['df']
#df1.head(10)

In [7]:
df

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
0,M393,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
1,M631,2024-06-30,33,j. Management Fees,0.0,0.0
2,M392,2024-06-30,14,4. BAD DEBTS WRITTEN OFF NOT PROVIDED FOR,0.0,0.0
3,M392,2024-06-30,40,8. NET INCOME / (LOSS) BEFORE INCOME TAX (3+6 ...,2338435.0,12669800.0
4,M631,2024-06-30,24,a. Managements' Salaries and Benefits,0.0,0.0
...,...,...,...,...,...,...
38468,MG69,2024-06-30,6,e. Interest - Others,0.0,0.0
38469,MG69,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
38470,MG69,2024-06-30,13,3. NET INTEREST INCOME (1 less 2),0.0,0.0
38471,MG69,2024-06-30,21,e. Income from Recovery of Charged off As...,0.0,0.0
38472,MG69,2024-06-30,38,o. Utilities Expenses,0.0,0.0

res['info']

In [8]:
res['debug']

'No handler found for data group: MSP'

In [9]:
res['df'].head(3)

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
0,M393,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
1,M631,2024-06-30,33,j. Management Fees,0.0,0.0
2,M392,2024-06-30,14,4. BAD DEBTS WRITTEN OFF NOT PROVIDED FOR,0.0,0.0

In [10]:
res['df']

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
0,M393,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
1,M631,2024-06-30,33,j. Management Fees,0.0,0.0
2,M392,2024-06-30,14,4. BAD DEBTS WRITTEN OFF NOT PROVIDED FOR,0.0,0.0
3,M392,2024-06-30,40,8. NET INCOME / (LOSS) BEFORE INCOME TAX (3+6 ...,2338435.0,12669800.0
4,M631,2024-06-30,24,a. Managements' Salaries and Benefits,0.0,0.0
...,...,...,...,...,...,...
38468,MG69,2024-06-30,6,e. Interest - Others,0.0,0.0
38469,MG69,2024-06-30,9,b. Interest - Borrowing from Microfinance S...,0.0,0.0
38470,MG69,2024-06-30,13,3. NET INTEREST INCOME (1 less 2),0.0,0.0
38471,MG69,2024-06-30,21,e. Income from Recovery of Charged off As...,0.0,0.0
38472,MG69,2024-06-30,38,o. Utilities Expenses,0.0,0.0

In [11]:
df.columns

Index(['INSTITUTIONCODE', 'REPORTINGDATE', 'DESCRIPTIONNO', 'PARTICULARS',
       'AMOUNT', 'YR_TO_DATE_AMOUNT'],
      dtype='object')

In [12]:
df.shape

(38473, 6)

In [13]:
df.dtypes

INSTITUTIONCODE              object
REPORTINGDATE        datetime64[ns]
DESCRIPTIONNO                 int64
PARTICULARS                  object
AMOUNT                      float64
YR_TO_DATE_AMOUNT           float64
dtype: object

In [14]:
mask = ((df['DESCRIPTIONNO']==1) & (df['AMOUNT'] < 20000000 ))

In [15]:
df[mask]

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT,YR_TO_DATE_AMOUNT
15,M631,2024-06-30,1,1. INTEREST INCOME,4225000.0,4225000.0
119,M393,2024-06-30,1,1. INTEREST INCOME,2135000.0,0.0
193,M412,2024-06-30,1,1. INTEREST INCOME,16812800.0,30263040.0
248,MG41,2024-06-30,1,1. INTEREST INCOME,74409.0,127967.0
252,MA73,2024-06-30,1,1. INTEREST INCOME,0.0,1055250.0
...,...,...,...,...,...,...
38273,M012,2024-06-30,1,1. INTEREST INCOME,9860000.0,0.0
38338,MH25,2024-06-30,1,1. INTEREST INCOME,956825.0,2111061.0
38365,M441,2024-06-30,1,1. INTEREST INCOME,2185895.0,4237395.0
38392,MI26,2024-06-30,1,1. INTEREST INCOME,2080000.0,2080000.0
38467,MG69,2024-06-30,1,1. INTEREST INCOME,0.0,0.0

In [16]:
#export to csv
#res['df'].to_csv(cfg.dataCollectionFolder + "data.csv")
res['df'].to_csv("C:\\MSP\\dataFiles\\data1.csv")

In [3]:
!pip show -f langodata

Name: langodata
Version: 1.0.1
Summary: Langodata utility package
Home-page:
Author: Rweyemamu Barongo
Author-email: ribarongo@bot.go.tz rbarongo@gmail.com
License:
Location: C:\_rwey\python\LangoData\langodatarep\langodataenv\Lib\site-packages
Requires:
Required-by:
Files:
  langodata-1.0.1.dist-info\INSTALLER
  langodata-1.0.1.dist-info\METADATA
  langodata-1.0.1.dist-info\RECORD
  langodata-1.0.1.dist-info\REQUESTED
  langodata-1.0.1.dist-info\WHEEL
  langodata-1.0.1.dist-info\direct_url.json
  langodata-1.0.1.dist-info\top_level.txt
  langodata\__init__.py
  langodata\__pycache__\__init__.cpython-312.pyc
  langodata\__pycache__\config.cpython-312.pyc
  langodata\__pycache__\data_loader.cpython-312.pyc
  langodata\__pycache__\main.cpython-312.pyc
  langodata\config.py
  langodata\data_loader.py
  langodata\main.py
  langodata\models\__init__.py
  langodata\models\__pycache__\__init__.cpython-312.pyc
  langodata\services\__init__.py
  langodata\services\__pycache__\__init__.cpython-312.pyc
  langodata\utils\__init__.py
  langodata\utils\__pycache__\__init__.cpython-312.pyc
  langodata\utils\__pycache__\auth_token.cpython-312.pyc
  langodata\utils\__pycache__\bsis_password_reset.cpython-312.pyc
  langodata\utils\__pycache__\check_user_status.cpython-312.pyc
  langodata\utils\__pycache__\config.cpython-312.pyc
  langodata\utils\__pycache__\data_reader.cpython-312.pyc
  langodata\utils\__pycache__\data_reader2.cpython-312.pyc
  langodata\utils\__pycache__\data_usage.cpython-312.pyc
  langodata\utils\__pycache__\database.cpython-312.pyc
  langodata\utils\__pycache__\decryption.cpython-312.pyc
  langodata\utils\__pycache__\itrs_data.cpython-312.pyc
  langodata\utils\__pycache__\itrs_data2.cpython-312.pyc
  langodata\utils\__pycache__\license_manager.cpython-312.pyc
  langodata\utils\__pycache__\logger.cpython-312.pyc
  langodata\utils\__pycache__\msp_data.cpython-312.pyc
  langodata\utils\__pycache__\profile_reader.cpython-312.pyc
  langodata\utils\__pycache__\submission_manager.cpython-312.pyc
  langodata\utils\auth_token.py
  langodata\utils\bsis_password_reset.py
  langodata\utils\check_user_status.py
  langodata\utils\config.py
  langodata\utils\data_reader.py
  langodata\utils\data_reader2.py
  langodata\utils\data_usage.py
  langodata\utils\database.py
  langodata\utils\decryption.py
  langodata\utils\itrs_data.py
  langodata\utils\itrs_data2.py
  langodata\utils\license_manager.py
  langodata\utils\logger.py
  langodata\utils\msp_data.py
  langodata\utils\profile_reader.py
  langodata\utils\submission_manager.py
  tests\__init__.py
  tests\__pycache__\__init__.cpython-312.pyc
  tests\__pycache__\test_basic.cpython-312.pyc
  tests\test_basic.py

In [37]:
data_path="C:\\_rwey\\assignments\\BSIS and EDI\\ITRS\\2024\\January\\"
file = "A1291078310124.xls"
file_name= data_path + file
sheet_name = 'ITRS1_URT_PAYMENTS'
columns_to_read = list(range(0, 8))
import pandas as pd
df  = pd.read_excel(file_name, sheet_name=sheet_name, usecols=columns_to_read, skiprows=7)

In [17]:
df.shape

(55875, 5)

In [18]:
df.head()

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT
0,M716,2024-06-30,9,(a )Treasury Bills,0.0
1,M716,2024-06-30,10,(b) Other Government Securities,0.0
2,M716,2024-06-30,12,(d) Others,0.0
3,M393,2024-06-30,45,(iii) Other Borrowings,0.0
4,M393,2024-06-30,59,(h) Profit/Loss,0.0

In [19]:
df.to_csv("report.csv")