#### BOT DATA GATE GENERAL INSTRUCTIONS

In [ ]:
"""
Data Gate Developer: Rweyemamu Barongo 
Email:  ribarongo@bot.go.tz, rbarongo@gmail.com
Date:   14 Jan 2025
Version: 1.0.1

Objectives
 (1) To ease data collection from internal and external source using one collection point, user-friendly access 
     and flexibility of data analysis.
 (2) To provide platform for analysis of voluminous data accross multiple sources and formats 
     (files, databases, APIs, etc)
 (3) To provide platform that enables BOT's adoption and execution of advanced data analysis tools using machine learning 
     and data mining methods to enrich BOT decision insights. 

Completed modules
 (1) MSP individual and consolidated reports
 (2) ITRS reports

       
To pull individual data reports use the following function 
   data = read_data(data_group, data_source, data_type, institution_code, start_period, end_period)   
   example: data = read_data('MSP','BSIS','01','M100','31-MAY-2024','31-JUL-2024')

To pull institution profile use the following function  
   data = read_profile('MSP','BSIS','M100')
   example:  data = read_profile(data_group, data_source,institution_code)
To extract 
   data frame use data['df']
   error use data['error']
   information use data['ínfo']
To save 
   example: data['df'].to_csv("data.csv")

   
Example:
Data Groups: MSP, BANK, ...
Data Source:      BSIS
Data Type or ReportName: 
   MSP: 01,02,03,04,05,06,07,08,09,10,CONS01..CONS07I..CONS07IV,CONS08..CONS10
   ITRS:
Institution Code:
   MSP: M100
Start or end period should be in format 'DD-MON-YYYY' eg '24-DEC-2024'

Future extension
Add other requested modules and features for users' monitoring of submissions
"""

#### MSP Data Template

In [16]:
import pandas as pd
import numpy as np


from utils import read_data, read_profile


#DATA
#FSP register
#res = read_profile('MSP','BSIS','*')
#FSP profile
res = read_profile('MSP','BSIS','M100')


#individual 
#res = read_data('MSP','BSIS','01','M100','31-MAY-2024','31-JUL-2024')

#individual for all institutions
#res = read_data('MSP','BSIS','01','*','31-MAY-2024','31-DEC-2024')


#consolidated
#res = read_data('MSP','BSIS','CONS10','*','30-SEP-2024','30-SEP-2024') # verify cons 8    QBJX

Please log in to continue.

Username:  RIBARONGO
Password:  ········

22-08-2025 08:44:56 [INFO] Login successful
22-08-2025 08:44:56 [INFO] Connected to data source and executed query.
22-08-2025 08:44:56 [INFO] Data successfully retrieved and packed into a DataFrame.

In [10]:
res['df']

,INSTITUTIONCODE,REPORTINGDATE,DESCRIPTIONNO,PARTICULARS,AMOUNT
0,M100,2024-06-30,1,1. CASH AND CASH EQUIVALENTS (sum a:d),6.064281e+06
1,M100,2024-06-30,2,(a) Cash in Hand,5.894000e+06
2,M100,2024-06-30,3,(b) Balances with Banks and Financial Ins...,1.702805e+05
3,M100,2024-06-30,4,(i) Non-Agent Banking Balances,1.702805e+05
4,M100,2024-06-30,5,(ii) Agent-Banking Balances,0.000000e+00
...,...,...,...,...,...
56,M100,2024-06-30,57,(f) General Reserves,0.000000e+00
57,M100,2024-06-30,58,(g) Retained Earnings,2.414339e+07
58,M100,2024-06-30,59,(h) Profit/Loss,2.320471e+05
59,M100,2024-06-30,60,(i) Other Reserves,0.000000e+00
60,M100,2024-06-30,61,16. TOTAL LIABILITIES AND CAPITAL (14+15),1.052145e+08

#### ITRS Data Template

In [5]:
import pandas as pd
import numpy as np


from utils import read_data, read_profile


#DATA
#FSP register
#res = read_profile('BANK','BSIS','*')
#FSP profile
#res = read_profile('BANK','BSIS','M100')

#exchange rates
#res = read_data('ITRS','BSIS','RATES','A129','31-MAY-2024','31-JUL-2024')
res = read_data('ITRS','BSIS','URT_RECEIPTS','*','31-AUG-2024','31-AUG-2024')

#MONITORING
#res = read_data('ITRS','BSIS','MONITORING','A129','30-SEP-2024','30-SEP-2024')  #needs privileges
#res = read_data('ITRS','BSIS','OVERALL_ANALYSIS','A129','30-SEP-2024','30-SEP-2024')   #no output
#res = read_data('ITRS','BSIS','TRANSFORMATION_ERRORS','*','30-SEP-2024','30-SEP-2024')   

#RAW DATA
#res = read_data('ITRS','BSIS','URT_PAYMENTS','A129','30-SEP-2024','30-SEP-2024')
#res = read_data('ITRS','BSIS','URT_RECEIPTS','A129','30-SEP-2024','30-SEP-2024')
#res = read_data('ITRS','BSIS','ZNZ_PAYMENTS','A129','30-SEP-2024','30-SEP-2024')
#res = read_data('ITRS','BSIS','ZNZ_RECEIPTS','*','30-SEP-2021','30-SEP-2024')

#DATA ANALYSIS
#res = read_data('ITRS','BSIS','COUNTRIES_SECTORS_TZS','A129','30-SEP-2024','30-SEP-2024')   
#res = read_data('ITRS','BSIS','COUNTRIES_SECTORS_USD','A129','30-SEP-2024','30-SEP-2024')   
#res = read_data('ITRS','BSIS','CONSOLIDATED_TZS','A129','30-SEP-2024','30-SEP-2024') 
#res = read_data('ITRS','BSIS','REGION_SECTOR_TZS','A129','30-SEP-2024','30-SEP-2024') 
#res = read_data('ITRS','BSIS','REGION_SECTOR_USD','A129','30-SEP-2024','30-SEP-2024')
#res = read_data('ITRS','BSIS','URT_PAYMENTS_FINAL','A129','30-SEP-2024','30-SEP-2024') #failed
#res = read_data('ITRS','BSIS','URT_RECEIPTS_FINAL','A129','30-SEP-2024','30-SEP-2024')
#res = read_data('ITRS','BSIS','ZNZ_PAYMENTS_FINAL','*','30-SEP-2024','30-SEP-2024')
#res = read_data('ITRS','BSIS','ZNZ_RECEIPTS_FINAL','*','30-SEP-2024','30-SEP-2024')
#QBJX

In [6]:
res['df']

Empty DataFrame
Columns: []
Index: []

#### Data Use

In [7]:
df1 = res['df']
df1.head(10)

Empty DataFrame
Columns: []
Index: []

res['info']

In [8]:
res['debug']

'No query found for data type: URT_RECEIPTS.  | Output DataFrame is empty. Check data source or query parameters.'

In [5]:
res['df'].head(3)

Empty DataFrame
Columns: []
Index: []

In [6]:
df1.columns

RangeIndex(start=0, stop=0, step=1)

In [7]:
df1.shape

(0, 0)

In [12]:
df1.dtypes

Series([], dtype: object)

In [13]:
mask = ((df1['DESCRIPTIONNO']==1) & (df1['AMOUNT'] < 20000000 ))

KeyError: 'DESCRIPTIONNO'

In [ ]:
df1[mask]

In [ ]:
#export to csv
#res['df'].to_csv(cfg.dataCollectionFolder + "data.csv")
res['df'].to_csv("C:\\MSP\\dataFiles\\data1.csv")

In [37]:
data_path="C:\\_rwey\\assignments\\BSIS and EDI\\ITRS\\2024\\January\\"
file = "A1291078310124.xls"
file_name= data_path + file
sheet_name = 'ITRS1_URT_PAYMENTS'
columns_to_read = list(range(0, 8))
import pandas as pd
df  = pd.read_excel(file_name, sheet_name=sheet_name, usecols=columns_to_read, skiprows=7)

In [38]:
df.shape

(20000, 8)

In [39]:
df.head()

,a,b,c,d,e,f,g,h
0,1,Merchandise Goods,3101000.0,UNITED ARAB EMIRATES,Households,AED,37400.00,NIL
1,2,Manufacturing services on physical inputs owne...,3201000.0,UNITED ARAB EMIRATES,Financial Corporations,AED,212365.00,NIL
2,3,Maintenance and repair services n.i.e.,3202000.0,UNITED ARAB EMIRATES,Non - Financial Corporations,AED,50200.00,NIL
3,4,Passenger transport by sea,3203010.0,UNITED ARAB EMIRATES,Households,AED,90659.25,NIL
4,5,Freight transport by sea,3203020.0,UNITED ARAB EMIRATES,Financial Corporations,AED,91865.81,NIL

In [40]:
import oracledb
import pandas as pd
from datetime import datetime

def itrs_bop(reporting_date, user, password, dsn):
    """
    Python function to perform operations similar to the ITRS_BOP PL/SQL procedure.
    The results are returned in a Pandas DataFrame instead of being inserted into a temporary table.

    :param reporting_date: Date for which the report is generated.
    :param user: Database username.
    :param password: Database password.
    :param dsn: Data Source Name for the Oracle connection.
    :return: Pandas DataFrame with processed data.
    """
    conn = None
    cursor = None
    try:
        # Connect to the database
        oracledb.init_oracle_client()  # Ensure the Oracle client is initialized
        conn = oracledb.connect(user=user, password=password, dsn=dsn)
        cursor = conn.cursor()

        # Initialize variables
        v_date = reporting_date

        # Fetch records from the static table
        cursor.execute("""
            SELECT DESCRIPTIONNO, PURPOSE, RECEIPTS_CODE, PAYMENTS_CODE
            FROM BSIS_DEV.ITRS_URT_BOP_TEMPLATE
            ORDER BY DESCRIPTIONNO ASC
        """)
        c_bop_static_table = cursor.fetchall()

        # Create an empty DataFrame to store the results
        columns = [
            "DESCRIPTIONNO", "PURPOSE", "RECEIPTS_CODE", "PAYMENTS_CODE",
            "RECEIPTS_AMOUNT", "PAYMENTS_AMOUNT", "NET_AMOUNT", "REG_DATE"
        ]
        results_df = pd.DataFrame(columns=columns)

        # Process each record
        for record in c_bop_static_table:
            description_no, purpose, receipts_code, payments_code = record
            v_payments_amount = None
            v_receipts_amount = None

            # Calculate payments amount
            if payments_code is not None:
                cursor.execute("""
                    SELECT SUM(NVL(AMOUNT_IN_USD_EQV, 0))
                    FROM ITRS_URT_PAYMENTS_FINAL
                    WHERE REPORTINGDATE = :v_date AND PU_CODE = :payments_code
                """, [v_date, payments_code])
                v_payments_amount = cursor.fetchone()[0] or None

            # Calculate receipts amount
            if receipts_code is not None:
                cursor.execute("""
                    SELECT SUM(NVL(AMOUNT_IN_USD_EQV, 0))
                    FROM ITRS_URT_RECEIPTS_FINAL
                    WHERE REPORTINGDATE = :v_date AND PU_CODE = :receipts_code
                """, [v_date, receipts_code])
                v_receipts_amount = cursor.fetchone()[0] or None

            # Compute net amount
            net_amount = (v_receipts_amount or 0) - (v_payments_amount or 0)

            # Append the record to the DataFrame
            results_df = pd.concat([
                results_df,
                pd.DataFrame([[
                    description_no, purpose, receipts_code, payments_code,
                    v_receipts_amount, v_payments_amount, net_amount, v_date
                ]], columns=columns)
            ], ignore_index=True)

        # Perform aggregate operations (example: Goods account)
        # Aggregate payments
        goods_payments_aggregate = results_df.loc[
            results_df["PAYMENTS_CODE"].isin([3101000, 3102000]),
            "PAYMENTS_AMOUNT"
        ].sum()
        if goods_payments_aggregate > 0:
            results_df.loc[results_df["PAYMENTS_CODE"] == 3100000, "PAYMENTS_AMOUNT"] = goods_payments_aggregate

        # Aggregate receipts
        goods_receipts_aggregate = results_df.loc[
            results_df["RECEIPTS_CODE"].isin([2101000, 2102000, 2103000, 2104000]),
            "RECEIPTS_AMOUNT"
        ].sum()
        if goods_receipts_aggregate > 0:
            results_df.loc[results_df["RECEIPTS_CODE"] == 2100000, "RECEIPTS_AMOUNT"] = goods_receipts_aggregate

        # Return the DataFrame
        return results_df

    except oracledb.DatabaseError as e:
        print(f"Database error: {e}")
        return pd.DataFrame()  # Return an empty DataFrame in case of error
    finally:
        # Close connections
        if cursor:
            cursor.close()
        if conn:
            conn.close()


    # Usage
    
    df = itrs_bop(reporting_date, user, password, dsn)
    return df

In [41]:
import config as cfg

reporting_date = datetime.strptime("2024-01-31", "%Y-%m-%d")
dsn = cfg.dsn
user = cfg.username  # Replace with your username
password = cfg.password  # Replace with your password

df = itrs_bop(reporting_date, user, password, dsn)
print(df)

Database error: DPY-2019: python-oracledb thick mode cannot be used because thin mode has already been enabled or a thin mode connection has already been created
Empty DataFrame
Columns: []
Index: []

In [17]:
import oracledb
import pandas as pd
from datetime import datetime


def itrs_bop(reporting_date, user, password, dsn):
    """
    Main function to perform operations similar to the ITRS_BOP PL/SQL procedure.
    Processes service accounts and returns a Pandas DataFrame.
    """
    conn = None
    cursor = None
    try:
        # Connect to the database
        oracledb.init_oracle_client()  # Ensure Oracle client is initialized
        conn = oracledb.connect(user=user, password=password, dsn=dsn)
        cursor = conn.cursor()

        # Fetch static table records
        static_table_records = fetch_static_table(cursor)

        # Initialize results DataFrame
        results_df = initialize_results(static_table_records, reporting_date, cursor)

        # Define service accounts
        service_accounts = get_service_accounts()

        # Apply aggregates for all registered accounts
        for account_name, account_details in service_accounts.items():
            apply_aggregate(cursor, results_df, account_details, "PAYMENTS", reporting_date, user)
            apply_aggregate(cursor, results_df, account_details, "RECEIPTS", reporting_date, user)

        return results_df

    except oracledb.DatabaseError as e:
        print(f"Database error: {e}")
        return pd.DataFrame()  # Return an empty DataFrame in case of error
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()


def fetch_static_table(cursor):
    """Fetches records from the static ITRS_BOP template table."""
    cursor.execute("""
        SELECT DESCRIPTIONNO, PURPOSE, RECEIPTS_CODE, PAYMENTS_CODE
        FROM BSIS_DEV.ITRS_URT_BOP_TEMPLATE
        ORDER BY DESCRIPTIONNO ASC
    """)
    return cursor.fetchall()


def initialize_results(static_table_records, reporting_date, cursor):
    """Initializes the results DataFrame."""
    columns = [
        "DESCRIPTIONNO", "PURPOSE", "RECEIPTS_CODE", "PAYMENTS_CODE",
        "RECEIPTS_AMOUNT", "PAYMENTS_AMOUNT", "NET_AMOUNT", "REG_DATE"
    ]
    results_df = pd.DataFrame(columns=columns)

    for record in static_table_records:
        description_no, purpose, receipts_code, payments_code = record
        payments_amount = calculate_amount(cursor, reporting_date, payments_code, "PAYMENTS")
        receipts_amount = calculate_amount(cursor, reporting_date, receipts_code, "RECEIPTS")
        net_amount = (receipts_amount or 0) - (payments_amount or 0)

        results_df = pd.concat([results_df, pd.DataFrame([[
            description_no, purpose, receipts_code, payments_code,
            receipts_amount, payments_amount, net_amount, reporting_date
        ]], columns=columns)], ignore_index=True)

    return results_df


def calculate_amount(cursor, reporting_date, code, transaction_type):
    """Calculates amounts for receipts or payments."""
    if code is not None:
        query = f"""
            SELECT SUM(NVL(AMOUNT_IN_USD_EQV, 0))
            FROM ITRS_URT_{transaction_type}_FINAL
            WHERE REPORTINGDATE = :reporting_date AND PU_CODE = :code
        """
        cursor.execute(query, [reporting_date, code])
        return cursor.fetchone()[0] or None
    return None


def apply_aggregate(cursor, df, codes, transaction_type, reporting_date, user):
    """Applies aggregate values for a specific account."""
    key = f"{transaction_type.lower()}_codes"
    aggregate_key = f"aggregate_{transaction_type.lower()}_code"
    selected_codes = codes.get(key, [])
    aggregate_code = codes.get(aggregate_key)

    if selected_codes and aggregate_code:
        total = df.loc[
            df[f"{transaction_type.upper()}_CODE"].isin(selected_codes),
            f"{transaction_type.upper()}_AMOUNT"
        ].sum()

        if total > 0:
            df.loc[df[f"{transaction_type.upper()}_CODE"] == aggregate_code, f"{transaction_type.upper()}_AMOUNT"] = total


def register_account(accounts, name, payments_codes, receipts_codes, aggregate_code, aggregate_receipts_code):
    """Registers a new service account dynamically."""
    accounts[name] = {
        "payments_codes": payments_codes,
        "aggregate_code": aggregate_code,
        "receipts_codes": receipts_codes,
        "aggregate_receipts_code": aggregate_receipts_code,
    }


def get_goods_accounts():
    """Defines and returns all service accounts."""
    accounts = {}

    # Register existing accounts
    register_account(
        accounts,
        "Goods Account",
        payments_codes=[3101000, 3102000],
        receipts_codes=[2101000, 2102000, 2103000, 2104000],
        aggregate_code=3100000,
        aggregate_receipts_code=2100000
    )

    return accounts

def get_transport_accounts():
    """Defines and returns all transport-related service accounts."""
    accounts = {}

    # Sea Transport
    register_account(
        accounts,
        "Sea Transport",
        payments_codes=[3203010, 3203020, 3203030],
        receipts_codes=[2203010, 2203020, 2203030],
        aggregate_code=3203001,
        aggregate_receipts_code=2203001
    )

    # Air Transport
    register_account(
        accounts,
        "Air Transport",
        payments_codes=[3203110, 3203120, 3203130],
        receipts_codes=[2203110, 2203120, 2203130],
        aggregate_code=3203100,
        aggregate_receipts_code=2203100
    )

    # Rail Transport
    register_account(
        accounts,
        "Rail Transport",
        payments_codes=[3203210, 3203220, 3203230],
        receipts_codes=[2203210, 2203220, 2203230],
        aggregate_code=3203200,
        aggregate_receipts_code=2203200
    )

    # Road Transport
    register_account(
        accounts,
        "Road Transport",
        payments_codes=[3203310, 3203320, 3203330],
        receipts_codes=[2203310, 2203320, 2203330],
        aggregate_code=3203300,
        aggregate_receipts_code=2203300
    )

    return accounts

In [14]:
import config as cfg

reporting_date = datetime.strptime("2024-09-30", "%Y-%m-%d")
dsn = cfg.dsn
user = cfg.username  # Replace with your username
password = cfg.password  # Replace with your password

df = itrs_bop(reporting_date, user, password, dsn)
print(df)

Database error: DPY-2019: python-oracledb thick mode cannot be used because thin mode has already been enabled or a thin mode connection has already been created
Empty DataFrame
Columns: []
Index: []

In [19]:
df = itrs_bop(reporting_date, user, password, dsn)
print(df)

Database error: DPY-2019: python-oracledb thick mode cannot be used because thin mode has already been enabled or a thin mode connection has already been created
Empty DataFrame
Columns: []
Index: []

In [13]:
df.to_csv("report.csv")

In [28]:
#BOT reviewed 22 Aug 2025
import oracledb
import pandas as pd
from datetime import datetime

def itrs_bop(reporting_date, user, password, dsn):
    """
    Main function to perform operations similar to the ITRS_BOP PL/SQL procedure.
    Processes service accounts and returns a Pandas DataFrame.
    """
    conn = None
    cursor = None
    try:
        # Connect to the database
        oracledb.init_oracle_client()  # Ensure Oracle client is initialized
        conn = oracledb.connect(user=user, password=password, dsn=dsn)
        cursor = conn.cursor()

        # Fetch static table records
        static_table_records = fetch_static_table(cursor)

        # Initialize results DataFrame
        results_df = initialize_results(static_table_records, reporting_date, cursor)

        # Define service accounts (load accounts from configuration)
        account_groups = load_account_groups()

        # Apply aggregates for all registered accounts
        for account_group in account_groups:
            for account_name, account_details in account_group.items():
                apply_aggregate(cursor, results_df, account_details, "PAYMENTS", reporting_date, user)
                apply_aggregate(cursor, results_df, account_details, "RECEIPTS", reporting_date, user)

        return results_df

    except oracledb.DatabaseError as e:
        print(f"Database error: {e}")
        return pd.DataFrame()  # Return an empty DataFrame in case of error
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

def load_account_groups():
    """Loads account groups from a predefined structure."""
    account_groups = []

    # Example account groups and their definitions
    account_groups.append({
        "Goods Account": {
            "payments_codes": [3101000, 3102000],
            "receipts_codes": [2101000, 2102000, 2103000, 2104000],
            "aggregate_code": 3100000,
            "aggregate_receipts_code": 2100000
        }
    })

    account_groups.append({
        "Sea Transport": {
            "payments_codes": [3203010, 3203020, 3203030],
            "receipts_codes": [2203010, 2203020, 2203030],
            "aggregate_code": 3203001,
            "aggregate_receipts_code": 2203001
        },
        "Air Transport": {
            "payments_codes": [3203110, 3203120, 3203130],
            "receipts_codes": [2203110, 2203120, 2203130],
            "aggregate_code": 3203100,
            "aggregate_receipts_code": 2203100
        },
        "Rail Transport": {
            "payments_codes": [3203210, 3203220, 3203230],
            "receipts_codes": [2203210, 2203220, 2203230],
            "aggregate_code": 3203200,
            "aggregate_receipts_code": 2203200
        },
        "Road Transport": {
            "payments_codes": [3203310, 3203320, 3203330],
            "receipts_codes": [2203310, 2203320, 2203330],
            "aggregate_code": 3203300,
            "aggregate_receipts_code": 2203300
        }
    })
    
    # Adding new account groups
    account_groups.append({
        "Other Transport": {
            "payments_codes": [3203410, 3203420, 3203430, 3203440, 3203450],
            "receipts_codes": [2203410, 2203420, 2203430, 2203440, 2203450],
            "aggregate_code": 3203400,
            "aggregate_receipts_code": 2203400
        },
        "Personal Travel": {
            "payments_codes": [3204210, 3204220, 3204230],
            "receipts_codes": [2204210, 2204220, 2204230],
            "aggregate_code": 3204200,
            "aggregate_receipts_code": 2204200
        },
        "Overall Travel": {
            "payments_codes": [3204100, 3204200],
            "receipts_codes": [2204100, 2204200],
            "aggregate_code": 3204000,
            "aggregate_receipts_code": 2204000
        },
        "Transport Aggregates": {
            "payments_codes": [3203001, 3203100, 3203200, 3203300, 3203400, 3203500],
            "receipts_codes": [2203001, 2203100, 2203200, 2203300, 2203400, 2203500],
            "aggregate_code": 3203000,
            "aggregate_receipts_code": 2203000
        }
    })
    
    account_groups.append({
        "Insurance and Pension Services": {
            "Direct Insurance": {
                "payments_codes": [3206110, 3206120],
                "receipts_codes": [2206110, 2206120],
                "aggregate_code": 3206100,
                "aggregate_receipts_code": 2206100
            },
            "Reinsurance": {
                "payments_codes": [3206210, 3206220],
                "receipts_codes": [2206210, 2206220],
                "aggregate_code": 3206200,
                "aggregate_receipts_code": 2206200
            },
            "Pension and Standardised Guarantee Services": {
                "payments_codes": [3206410, 3206420],
                "receipts_codes": [2206410, 2206420],
                "aggregate_code": 3206400,
                "aggregate_receipts_code": 2206400
            },
            "Overall Insurance and Pension Services": {
                "payments_codes": [3206100, 3206200, 3206300, 3206400],
                "receipts_codes": [2206100, 2206200, 2206300, 2206400],
                "aggregate_code": 3206000,
                "aggregate_receipts_code": 2206000
            }
        }
    })
    
    account_groups.append({
        "Telecommunications, Computer and Information Services": {
            "payments_codes": [3209100, 3209200, 3209300],
            "receipts_codes": [2209100, 2209200, 2209300],
            "aggregate_code": 3209000,
            "aggregate_receipts_code": 2209000
        }
    })

    account_groups.append({
        "Government Goods and Services n.i.e.": {
            "payments_codes": [3212100, 3212200, 3212300],
            "receipts_codes": [2212100, 2212200, 2212300],
            "aggregate_code": 3212000,
            "aggregate_receipts_code": 2212000
        }
    })

    account_groups.append({
        "Personal, Cultural and Recreational Services": {
            "payments_codes": [3211100, 3211200],
            "receipts_codes": [2211100, 2211200],
            "aggregate_code": 3211000,
            "aggregate_receipts_code": 2211000
        }
    })

    account_groups.append({
        "Other Business Services": {
            "payments_codes": [3210100, 3210200, 3210300],
            "receipts_codes": [2210100, 2210200, 2210300],
            "aggregate_code": 3210000,
            "aggregate_receipts_code": 2210000
        }
    })
    
    account_groups.append({
        "Overall Services": {
            "payments_codes": [3201000, 3202000, 3203000, 3204000, 3205000, 3206000, 3207000, 3208000, 3209000, 3210000, 3211000, 3212000],
            "receipts_codes": [2201000, 2202000, 2203000, 2204000, 2205000, 2206000, 2207000, 2208000, 2209000, 2210000, 2211000, 2212000],
            "aggregate_code": 3200000,
            "aggregate_receipts_code": 2200000
         }
    })

    # Primary Income Account Group (2301000 and 3301000)
    account_groups.append({
        "Primary Income": {
            "payments_codes": [3301100],
            "receipts_codes": [2301100],
            "aggregate_code": 3301000,
            "aggregate_receipts_code": 2301000
        }
    })

    # Salaries and Wages Account Group (2301100 and 3301100)
    account_groups.append({
        "Salaries and Wages": {
            "payments_codes": [3302111],
            "receipts_codes": [2302111],
            "aggregate_code": 3302100,
            "aggregate_receipts_code": 2302100
        }
    })

    # Portfolio Investment Account Group (2302200 and 3302200)
    account_groups.append({
        "Portfolio Investment": {
            "payments_codes": [3302210, 3302211, 3302220, 3302221, 3302230],
            "receipts_codes": [2302210, 2302211, 2302220, 2302221, 2302230],
            "aggregate_code": 3302200,
            "aggregate_receipts_code": 2302200
        }
    })

    # Other Investment Account Group (2302300 and 3302300)
    account_groups.append({
        "Other Investment": {
            "payments_codes": [3302310, 3302320, 3302321, 3302330],
            "receipts_codes": [2302310, 2302320, 2302321, 2302330],
            "aggregate_code": 3302300,
            "aggregate_receipts_code": 2302300
        }
    })

    # Compensation of Employees Account Group (2301000 and 3301000)
    account_groups.append({
        "Compensation of Employees": {
            "payments_codes": [3302100, 3302200, 3302300],
            "receipts_codes": [2302100, 2302200, 2302300],
            "aggregate_code": 3302000,
            "aggregate_receipts_code": 2302000
        }
    })

    # Reserve Assets Account Group (2303000)
    account_groups.append({
        "Reserve Assets": {
            "payments_codes": [],
            "receipts_codes": [2303100, 2303200],
            "aggregate_code": 2303000,
            "aggregate_receipts_code": 2303000
        }
    })

    # Other Primary Income Account Group (2304000 and 3303000)
    account_groups.append({
        "Other Primary Income": {
            "payments_codes": [3303100, 3303200],
            "receipts_codes": [2304100, 2304200],
            "aggregate_code": 3303000,
            "aggregate_receipts_code": 2304000
        }
    })
    
    # Other Primary Income Account Group (2304000 and 3303000)
    account_groups.append({
        "Other Primary Income": {
            "payments_codes": [3303100, 3303200],
            "receipts_codes": [2304100, 2304200],
            "aggregate_code": 3303000,
            "aggregate_receipts_code": 2304000
        }
    })

    # Primary Income Account Group (2305000 and 3304000)
    account_groups.append({
        "Primary Income": {
            "payments_codes": [3304100, 3304200],
            "receipts_codes": [2305100, 2305200],
            "aggregate_code": 3304000,
            "aggregate_receipts_code": 2305000
        }
    })

    # Secondary Income Account Group (2306000 and 3305000)
    account_groups.append({
        "Secondary Income": {
            "payments_codes": [3305100, 3305200],
            "receipts_codes": [2306100, 2306200],
            "aggregate_code": 3305000,
            "aggregate_receipts_code": 2306000
        }
    })

    # Tertiary Income Account Group (2307000 and 3306000)
    account_groups.append({
        "Tertiary Income": {
            "payments_codes": [3306100, 3306200],
            "receipts_codes": [2307100, 2307200],
            "aggregate_code": 3306000,
            "aggregate_receipts_code": 2307000
        }
    })

    # Quaternary Income Account Group (2308000 and 3307000)
    account_groups.append({
        "Quaternary Income": {
            "payments_codes": [3307100, 3307200],
            "receipts_codes": [2308100, 2308200],
            "aggregate_code": 3307000,
            "aggregate_receipts_code": 2308000
        }
    })

    # Other Expenses Account Group (2309000 and 3308000)
    account_groups.append({
        "Other Expenses": {
            "payments_codes": [3308100, 3308200],
            "receipts_codes": [2309100, 2309200],
            "aggregate_code": 3308000,
            "aggregate_receipts_code": 2309000
        }
    })

    # Primary Expenses Account Group (2310000 and 3309000)
    account_groups.append({
        "Primary Expenses": {
            "payments_codes": [3309100, 3309200],
            "receipts_codes": [2310100, 2310200],
            "aggregate_code": 3309000,
            "aggregate_receipts_code": 2310000
        }
    })

    # Secondary Expenses Account Group (2311000 and 3310000)
    account_groups.append({
        "Secondary Expenses": {
            "payments_codes": [3310100, 3310200],
            "receipts_codes": [2311100, 2311200],
            "aggregate_code": 3310000,
            "aggregate_receipts_code": 2311000
        }
    })

    # Tertiary Expenses Account Group (2312000 and 3311000)
    account_groups.append({
        "Tertiary Expenses": {
            "payments_codes": [3311100, 3311200],
            "receipts_codes": [2312100, 2312200],
            "aggregate_code": 3311000,
            "aggregate_receipts_code": 2312000
        }
    })

    # Quaternary Expenses Account Group (2313000 and 3312000)
    account_groups.append({
        "Quaternary Expenses": {
            "payments_codes": [3312100, 3312200],
            "receipts_codes": [2313100, 2313200],
            "aggregate_code": 3312000,
            "aggregate_receipts_code": 2313000
        }
    })

    account_groups.append({
        "Direct investment in Tanzania": {
            "payments_codes": [3601210, 3601220, 3601230],
            "receipts_codes": [2601210, 2601220, 2601230],
            "aggregate_code": 3601200,
            "aggregate_receipts_code": 2601200
        }
    })

    account_groups.append({
        "Direct Investment": {
            "payments_codes": [3601100, 3601200],
            "receipts_codes": [2601100, 2601200],
            "aggregate_code": 3601000,
            "aggregate_receipts_code": 2601000
        }
    })

    account_groups.append({
        "Assets": {
            "payments_codes": [3602110, 3602120],
            "receipts_codes": [2602110, 2602120],
            "aggregate_code": 3602100,
            "aggregate_receipts_code": 2602100
        }
    })

    account_groups.append({
        "Liabilities": {
            "payments_codes": [3602210, 3602220],
            "receipts_codes": [2602210, 2602220],
            "aggregate_code": 3602200,
            "aggregate_receipts_code": 2602200
        }
    })

    account_groups.append({
        "Portfolio Investment": {
            "payments_codes": [3601100, 3601200],
            "receipts_codes": [2601100, 2601200],
            "aggregate_code": 3602000,
            "aggregate_receipts_code": 2602000
        }
    })

    account_groups.append({
        "Assets": {
            "payments_codes": [3603110, 3603120, 3603130, 3603140],
            "receipts_codes": [2603110, 2603120, 2603130, 2603140],
            "aggregate_code": 3603100,
            "aggregate_receipts_code": 2603100
        }
    })

    account_groups.append({
        "Liabilities": {
            "payments_codes": [3603210, 3603220, 3603230, 3603240],
            "receipts_codes": [2603210, 2603220, 2603230, 2603240],
            "aggregate_code": 3603200,
            "aggregate_receipts_code": 2603200
        }
    })

    account_groups.append({
        "Other Investment": {
            "payments_codes": [3603100, 3603200],
            "receipts_codes": [2603100, 2603200],
            "aggregate_code": 3603000,
            "aggregate_receipts_code": 2603000
        }
    })

    account_groups.append({
        "Financial Account": {
            "payments_codes": [3601000, 3602000, 3603000],
            "receipts_codes": [2601000, 2602000, 2603000],
            "aggregate_code": 3600000,
            "aggregate_receipts_code": 2600000
        }
    })


    # You can load more account groups here by appending dictionaries for each group

    return account_groups

def fetch_static_table(cursor):
    """Fetches records from the static ITRS_BOP template table."""
    cursor.execute("""
        SELECT DESCRIPTIONNO, PURPOSE, RECEIPTS_CODE, PAYMENTS_CODE
        FROM BSIS_DEV.ITRS_URT_BOP_TEMPLATE
        ORDER BY DESCRIPTIONNO ASC
    """)
    return cursor.fetchall()

def initialize_results(static_table_records, reporting_date, cursor):
    """Initializes the results DataFrame."""
    columns = [
        "DESCRIPTIONNO", "PURPOSE", "RECEIPTS_CODE", "PAYMENTS_CODE",
        "RECEIPTS_AMOUNT", "PAYMENTS_AMOUNT", "NET_AMOUNT", "REG_DATE"
    ]
    results_df = pd.DataFrame(columns=columns)

    for record in static_table_records:
        description_no, purpose, receipts_code, payments_code = record
        payments_amount = calculate_amount(cursor, reporting_date, payments_code, "PAYMENTS")
        receipts_amount = calculate_amount(cursor, reporting_date, receipts_code, "RECEIPTS")
        net_amount = (receipts_amount or 0) - (payments_amount or 0)

        results_df = pd.concat([results_df, pd.DataFrame([[ 
            description_no, purpose, receipts_code, payments_code,
            receipts_amount, payments_amount, net_amount, reporting_date
        ]], columns=columns)], ignore_index=True)

    return results_df

def calculate_amount(cursor, reporting_date, code, transaction_type):
    """Calculates amounts for receipts or payments."""
    if code is not None:
        query = f"""
            SELECT SUM(NVL(AMOUNT_IN_USD_EQV, 0))
            FROM ITRS_URT_{transaction_type}_FINAL
            WHERE REPORTINGDATE = :reporting_date AND PU_CODE = :code
        """
        cursor.execute(query, [reporting_date, code])
        return cursor.fetchone()[0] or None
    return None

def apply_aggregate(cursor, df, codes, transaction_type, reporting_date, user):
    """Applies aggregate values for a specific account."""
    key = f"{transaction_type.lower()}_codes"
    aggregate_key = f"aggregate_{transaction_type.lower()}_code"
    selected_codes = codes.get(key, [])
    aggregate_code = codes.get(aggregate_key)

    if selected_codes and aggregate_code:
        total = df.loc[
            df[f"{transaction_type.upper()}_CODE"].isin(selected_codes),
            f"{transaction_type.upper()}_AMOUNT"
        ].sum()

        if total > 0:
            df.loc[df[f"{transaction_type.upper()}_CODE"] == aggregate_code, f"{transaction_type.upper()}_AMOUNT"] = total

In [29]:
def send_email(self, username: str, new_password: str) -> None:
    """
        Send the new password to the user's email.
        :param username: The username whose password was reset.
        :param new_password: The new password to send.
        """
    email = f"{username}@bot.go.tz"
    subject = "Password Reset Notification"
    body = (
        f"Dear {username},\n\n"
        f"Your password has been successfully reset.\n\n"
        f"New Password: {new_password}\n\n"
        f"Please change your password immediately after logging in.\n\n"
        f"Best regards,\n"
        f"Bank of Tanzania Support Team"
    )

    # Prepare the email payload
    email_payload = {
        "to": email,
        "subject": subject,
        "body": body,
        "msaada_username": "ribarongo2",
        "msaada_password": "ccc",
        "url": "https://owa.bot.go.tz/owa"
    }

    try:
        # Simulate email sending using the specified URL
        response = requests.post(
            url="https://owa.bot.go.tz/owa/send-email",  # Adjust endpoint as needed
            json=email_payload
        )
        if response.status_code == 200:
            print(f"Email sent successfully to {email}.")
        else:
            print(f"Failed to send email to {email}. Status code: {response.status_code}")
    except Exception as e:
        print(f"An error occurred while sending the email: {str(e)}")

In [18]:
import requests
test = send_email(username="RIBARONGO", new_password="ribarongo")

NameError: name 'send_email' is not defined

#### ITRS Records Reconciliation in Raw Files, Raw EDI, Raw BSIS, and BSIS after Transformation

In [42]:
from datetime import datetime
# Define the date conversion function
def convert_to_formatted_date(filename):
    date_string = filename[8:14]
    try:
        # Convert the date string to a datetime object
        #eporting_date = datetime.strptime(date_string, '%d%m%y')
        # Format the datetime object as "31-Jan-24"
        #return reporting_date.strftime('%d-%b-%y')
        
        # Convert the date string to a datetime object
        reporting_date = datetime.strptime(date_string, '%d%m%y')
        # Format the datetime object as "YYYY-MM-DD"
        return reporting_date.strftime('%Y-%m-%d')
    except ValueError:
        # Return None or handle invalid dates
        return None

In [43]:
import pandas as pd

path="C:\\_rwey\\assignments\\BSIS and EDI\\ITRS\\2024\\January\\"
file = "A1291078310124.xls"

# Define the column names
columns = ['SNO', 'PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']

# Read the Excel file starting from row 8 and apply column names
data = pd.read_excel(
    path + file,
    sheet_name='ITRS2_URT_RECEIPTS',  # Specify the sheet name
    usecols="A:H",       # Select columns A to H
    skiprows=7,          # Skip the first 7 rows
    names=columns        # Apply defined column names
)

# Filter rows where columns PURPOSE to DESCRIPTION are not empty or null
filtered_data = data.dropna(subset=['PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

#filtered_data['REPORTINGDATE'] = filtered_data['file'].apply(convert_to_formatted_date)

#filtered_data['INSTITUTIONCODE'] = filtered_data['file'].apply(lambda x: x[:4])
filtered_data['REPORTINGDATE'] = convert_to_formatted_date(file)
filtered_data['INSTITUTIONCODE'] = file[:4]


# Display the filtered data
print(filtered_data.head(2))

filtered_data.shape[0]

   SNO             PURPOSE       CODE       COUNTRY                  SECTOR  \
0    1           Re-Export  2103000.0  SOUTH AFRICA  Financial Corporations
1    2  Merchandise Goods   2101000.0         CHINA              Households

  CURRENCY    AMOUNT DESCRIPTION REPORTINGDATE INSTITUTIONCODE
0      AED     32.00         NIL    2024-01-31            A129
1      CNY  28396.48         NIL    2024-01-31            A129

C:\Users\255759804774\AppData\Local\Temp\ipykernel_46808\1697658187.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['REPORTINGDATE'] = convert_to_formatted_date(file)
C:\Users\255759804774\AppData\Local\Temp\ipykernel_46808\1697658187.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['INSTITUTIONCODE'] = file[:4]

11632

In [33]:
filtered_data.head(20)

,SNO,PURPOSE,CODE,COUNTRY,SECTOR,CURRENCY,AMOUNT,DESCRIPTION,REPORTINGDATE,INSTITUTIONCODE
0,1,Re-Export,2103000.0,SOUTH AFRICA,Financial Corporations,AED,32.00,NIL,2024-01-31,A129
1,2,Merchandise Goods,2101000.0,CHINA,Households,CNY,28396.48,NIL,2024-01-31,A129
2,3,Merchanting,2104000.0,CHINA,Households,CNY,67683.00,NIL,2024-01-31,A129
3,4,Manufacturing services on physical inputs owne...,2201000.0,DENMARK,Financial Corporations,DKK,10841.12,NIL,2024-01-31,A129
4,5,Maintenance and repair services n.i.e.,2202000.0,DENMARK,Households,DKK,875.00,NIL,2024-01-31,A129
5,6,Passenger transport by air,2203110.0,DENMARK,Households,DKK,3570.00,NIL,2024-01-31,A129
6,7,Freight transport by air,2203120.0,DENMARK,Households,DKK,2050.00,NIL,2024-01-31,A129
7,8,Other air,2203130.0,DENMARK,NPISHs (NGOs),DKK,1600.00,NIL,2024-01-31,A129
8,9,Freight transport by sea,2203020.0,DENMARK,Financial Corporations,DKK,4000.00,NIL,2024-01-31,A129
9,10,Other sea,2203030.0,DENMARK,Households,DKK,1100.00,NIL,2024-01-31,A129
10,11,Postal and courier services,2203500.0,DENMARK,Households,DKK,1775.00,NIL,2024-01-31,A129
11,12,Business travel,2204100.0,DENMARK,Households,DKK,21775.00,NIL,2024-01-31,A129
12,13,Health-related expenditure,2204210.0,DENMARK,Households,DKK,52400.00,NIL,2024-01-31,A129
13,14,Education-related expenditure,2204220.0,DENMARK,Households,DKK,199975.00,NIL,2024-01-31,A129
14,15,Other personal travel (Tourism-related services),2204230.0,DENMARK,Households,DKK,2975.00,NIL,2024-01-31,A129
15,16,Construction,2205000.0,DENMARK,Financial Corporations,DKK,16475.00,NIL,2024-01-31,A129
16,17,Direct insurance,2206100.0,DENMARK,Financial Corporations,DKK,200.00,NIL,2024-01-31,A129
17,18,Premium Received,2206110.0,DENMARK,Financial Corporations,DKK,15975.00,NIL,2024-01-31,A129
18,19,Claims received,2206120.0,DENMARK,Non - Financial Corporations,DKK,2352.00,NIL,2024-01-31,A129
19,20,Reinsurance,2206200.0,DENMARK,Financial Corporations,DKK,4002.00,NIL,2024-01-31,A129

In [34]:
file[8:14]

'310124'

In [35]:
import os
import pandas as pd
from datetime import datetime

# Define the root path where the monthly folders are located
root_path = r"C:\\_rwey\\assignments\\BSIS and EDI\\ITRS\\2024\\"

# Define the column names
columns = ['SNO', 'PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']

# Create a list to hold the output data
output_summary = []

# Iterate through all month folders in the root path
for month_folder in os.listdir(root_path):
    month_path = os.path.join(root_path, month_folder)

    # Check if the current path is a directory (month folder)
    if os.path.isdir(month_path):
        # Iterate through all files in the month folder
        for file in os.listdir(month_path):
            file_path = os.path.join(month_path, file)

            # Check if the file is an Excel file
            if file.endswith(".xls") or file.endswith(".xlsx"):
                try:
                    # Read the Excel file
                    data = pd.read_excel(
                        file_path,
                        sheet_name='ITRS2_URT_RECEIPTS',  # Specify the sheet name
                        usecols="A:H",                   # Select columns A to H
                        skiprows=7,                      # Skip the first 7 rows
                        names=columns                    # Apply defined column names
                    )

                    # Filter rows where columns PURPOSE to DESCRIPTION are not empty or null
                    filtered_data = data.dropna(subset=['PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

                    # Append the summary details to the output list
                    output_summary.append({
                        "Month": month_folder,
                        "Filename": file,
                        "FILES_RECEIPTS": filtered_data.shape[0],
                        "INSTITUTIONCODE": file[:4],
                        "REPORTINGDATE" : convert_to_formatted_date(file)
                        
                    })
                except Exception as e:
                    # Append an error message for files that could not be processed
                    output_summary.append({
                        "Month": month_folder,
                        "Filename": file,
                        "Records": f"Error: {str(e)}"
                    })

# Convert the summary list to a DataFrame for tabular display
summary_df = pd.DataFrame(output_summary)

# Display the summary DataFrame
print(summary_df)

# Optionally, save the summary to a CSV file
summary_df.to_csv(r"C:\\_rwey\\assignments\\BSIS and EDI\\ITRS\\2024\\summary_output.csv", index=False)

#summary_df['INSTITUTIONCODE'] = summary_df['INSTITUTIONCODE'].apply(x:x[:])


#summary_df['FormattedReportingDate'] = summary_df['Filename'].apply(convert_to_formatted_date)

     Month            Filename  FILES_RECEIPTS INSTITUTIONCODE REPORTINGDATE
0    April  A1241078300424.xls             235            A124    2024-04-30
1    April  A1251078300424.xls             402            A125    2024-04-30
2    April  A1281078300424.xls             291            A128    2024-04-30
3    April  A1291078300424.xls            9746            A129    2024-04-30
4    April  A1341078300424.xls             100            A134    2024-04-30
..     ...                 ...             ...             ...           ...
188    May  A1831078310524.xls              98            A183    2024-05-31
189    May  A1841078310524.xls            1892            A184    2024-05-31
190    May  A1891078310524.xls               1            A189    2024-05-31
191    May  A1961078310524.xls              14            A196    2024-05-31
192    May  A1991078310524.xls             120            A199    2024-05-31

[193 rows x 5 columns]

In [36]:
#alternative: read files from one path for all data
import os
import pandas as pd
from datetime import datetime

# Define the path where all files are located
data_path = r"C:\edi_data"

# Define the column names
columns = ['SNO', 'PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']

# Create a list to hold the output data
output_summary = []

# Iterate through all files in the directory
for file in os.listdir(data_path):
    file_path = os.path.join(data_path, file)

    # Check if the file is an Excel file
    if file.endswith(".xls") or file.endswith(".xlsx"):
        try:
            # Read the Excel file
            data = pd.read_excel(
                file_path,
                sheet_name='ITRS2_URT_RECEIPTS',  # Specify the sheet name
                usecols="A:H",                   # Select columns A to H
                skiprows=7,                      # Skip the first 7 rows
                names=columns                    # Apply defined column names
            )

            # Filter rows where columns PURPOSE to DESCRIPTION are not empty or null
            filtered_data = data.dropna(subset=['PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

            # Append the summary details to the output list
            output_summary.append({
                "Filename": file,
                "FILES_RECEIPTS": filtered_data.shape[0],
                "INSTITUTIONCODE": file[:4],
                "REPORTINGDATE": datetime.strptime(file[8:14], '%d%m%y').strftime('%Y-%m-%d')  # Convert to "YYYY-MM-DD" format
            })
        except Exception as e:
            # Append an error message for files that could not be processed
            output_summary.append({
                "Filename": file,
                "FILES_RECEIPTS": f"Error: {str(e)}",
                "INSTITUTIONCODE": None,
                "REPORTINGDATE": None
            })

# Convert the summary list to a DataFrame for tabular display
summary_df = pd.DataFrame(output_summary)

# Display the summary DataFrame
print(summary_df)

# Optionally, save the summary to a CSV file
summary_df.to_csv(r"C:\edi_data\summary_receipts.csv", index=False)

KeyboardInterrupt:

#### Reexecute with cuncurrent tasks

In [56]:
import os
import pandas as pd
from datetime import datetime
from concurrent.futures import ThreadPoolExecutor
import logging

# Configure logging for error tracking
logging.basicConfig(
    filename="process_log.log",
    level=logging.ERROR,
    format="%(asctime)s - %(levelname)s - %(message)s"
)

# Define the column names for Excel data
columns = ['SNO', 'PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']

# Function to process a single file
def process_file(file, data_path):
    """
    Processes an Excel file to extract relevant data.

    Args:
        file (str): The filename of the Excel file to process.
        data_path (str): The directory path where the file is located.

    Returns:
        dict: Summary information about the processed file.
    """
    try:
        file_path = os.path.join(data_path, file)

        # Check if the file is an Excel file
        if file.endswith(".xls") or file.endswith(".xlsx"):
            # Read the Excel file
            data = pd.read_excel(
                file_path,
                sheet_name='ITRS2_URT_RECEIPTS',  # Specify the sheet name
                usecols="A:H",                   # Select columns A to H
                skiprows=7,                      # Skip the first 7 rows
                names=columns                    # Apply column names
            )

            # Filter rows where columns PURPOSE to DESCRIPTION are not empty or null
            filtered_data = data.dropna(subset=['PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

            # Return a summary for the file
            return {
                "Filename": file,
                "FILES_RECEIPTS": filtered_data.shape[0],
                "INSTITUTIONCODE": file[:4],
                "REPORTINGDATE": datetime.strptime(file[8:14], '%d%m%y').strftime('%Y-%m-%d')  # Format as YYYY-MM-DD
            }
        else:
            # Return an error message if the file is not an Excel file
            return {
                "Filename": file,
                "FILES_RECEIPTS": "Error: Not an Excel file",
                "INSTITUTIONCODE": None,
                "REPORTINGDATE": None
            }
    except Exception as e:
        # Log the error and return error details
        logging.error(f"Error processing {file}: {e}")
        return {
            "Filename": file,
            "FILES_RECEIPTS": f"Error: {e}",
            "INSTITUTIONCODE": None,
            "REPORTINGDATE": None
        }

# Main function to process all files
def main():
    """
    Main function to process all Excel files in the specified directory.
    """
    # Define the directory where all files are located
    data_path = r"C:\edi_data"

    # List all files in the directory (filtering only Excel files)
    files = [f for f in os.listdir(data_path) if f.endswith(".xls") or f.endswith(".xlsx")]

    # Initialize a list to store the output summary
    output_summary = []

    # Use ThreadPoolExecutor for parallel processing (optimized for I/O-bound tasks)
    with ThreadPoolExecutor(max_workers=5) as executor:
        # Use a lambda to pass both file and data_path to the processing function
        results = executor.map(lambda file: process_file(file, data_path), files)

        # Collect results from the executor
        for result in results:
            output_summary.append(result)

    # Convert the output summary to a pandas DataFrame for tabular representation
    summary_df = pd.DataFrame(output_summary)

    # Display the summary DataFrame in the console
    print(summary_df)

    # Save the summary to a CSV file
    summary_csv_path = os.path.join(data_path, "summary_receipts2.csv")
    summary_df.to_csv(summary_csv_path, index=False)
    print(f"Summary saved to {summary_csv_path}")

# Run the script
if __name__ == "__main__":
    main()




    
    
# #alternative: read files from one path for all data
# import os
# import pandas as pd
# from datetime import datetime

# # Define the path where all files are located
# data_path = r"C:\edi_data"

# # Define the column names
# columns = ['SNO', 'PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']

# # Create a list to hold the output data
# output_summary = []

# # Iterate through all files in the directory
# for file in os.listdir(data_path):
#     file_path = os.path.join(data_path, file)

#     # Check if the file is an Excel file
#     if file.endswith(".xls") or file.endswith(".xlsx"):
#         try:
#             # Read the Excel file
#             data = pd.read_excel(
#                 file_path,
#                 sheet_name='ITRS2_URT_RECEIPTS',  # Specify the sheet name
#                 usecols="A:H",                   # Select columns A to H
#                 skiprows=7,                      # Skip the first 7 rows
#                 names=columns                    # Apply defined column names
#             )

#             # Filter rows where columns PURPOSE to DESCRIPTION are not empty or null
#             filtered_data = data.dropna(subset=['PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

#             # Append the summary details to the output list
#             output_summary.append({
#                 "Filename": file,
#                 "FILES_RECEIPTS": filtered_data.shape[0],
#                 "INSTITUTIONCODE": file[:4],
#                 "REPORTINGDATE": datetime.strptime(file[8:14], '%d%m%y').strftime('%Y-%m-%d')  # Convert to "YYYY-MM-DD" format
#             })
#         except Exception as e:
#             # Append an error message for files that could not be processed
#             output_summary.append({
#                 "Filename": file,
#                 "FILES_RECEIPTS": f"Error: {str(e)}",
#                 "INSTITUTIONCODE": None,
#                 "REPORTINGDATE": None
#             })

# # Convert the summary list to a DataFrame for tabular display
# summary_df = pd.DataFrame(output_summary)

# # Display the summary DataFrame
# print(summary_df)

# # Optionally, save the summary to a CSV file
# summary_df.to_csv(r"C:\edi_data\summary_receipts.csv", index=False)

                 Filename                                     FILES_RECEIPTS  \
0      A1241078280221.xls                                                222
1      A1241078280222.xls                                                241
2      A1241078280223.xls                                                244
3      A1241078290220.xls  Error: Number of passed names did not match nu...
4      A1241078290224.xls                                                258
...                   ...                                                ...
1701  PA1291078310722.xls                Error: unconverted data remains: 72
1702  PA1581078300620.xls                Error: unconverted data remains: 62
1703  PA1601078310523.xls                Error: unconverted data remains: 52
1704  PA1631078310324.xls                Error: unconverted data remains: 32
1705  PA1971078310321.xls                Error: unconverted data remains: 32

     INSTITUTIONCODE REPORTINGDATE
0               A124    2021-02-28
1               A124    2022-02-28
2               A124    2023-02-28
3               None          None
4               A124    2024-02-29
...              ...           ...
1701            None          None
1702            None          None
1703            None          None
1704            None          None
1705            None          None

[1706 rows x 4 columns]
Summary saved to C:\edi_data\summary_receipts2.csv

In [57]:
from utils.database import DatabaseConnection
import pandas as pd
from concurrent.futures import ProcessPoolExecutor

# Define the SQL queries
queries = {
    "edi": {
        "query": """SELECT 
                        INSTITUTIONCODE, 
                        REPORTINGDATE, 
                        COUNT(*) AS RECEIPTS
                    FROM 
                        ITRS_URT_RECEIPTS@BSIS_TO_EDI
                    GROUP BY 
                        INSTITUTIONCODE, 
                        REPORTINGDATE
                    ORDER BY 
                        INSTITUTIONCODE, 
                        REPORTINGDATE""",
        "columns": ["INSTITUTIONCODE", "REPORTINGDATE", "EDI_PAYMENTS"]
    },
    "bsis": {
        "query": """SELECT 
                        INSTITUTIONCODE, 
                        REPORTINGDATE, 
                        COUNT(*) AS RECEIPTS
                    FROM 
                        ITRS_URT_RECEIPTS
                    GROUP BY 
                        INSTITUTIONCODE, 
                        REPORTINGDATE
                    ORDER BY 
                        INSTITUTIONCODE, 
                        REPORTINGDATE""",
        "columns": ["INSTITUTIONCODE", "REPORTINGDATE", "BSIS_PAYMENTS"]
    },
    "bsis_final": {
        "query": """SELECT 
                        INSTITUTIONCODE, 
                        REPORTINGDATE, 
                        COUNT(*) AS RECEIPTS
                    FROM 
                        ITRS_URT_RECEIPTS_FINAL
                    GROUP BY 
                        INSTITUTIONCODE, 
                        REPORTINGDATE
                    ORDER BY 
                        INSTITUTIONCODE, 
                        REPORTINGDATE""",
        "columns": ["INSTITUTIONCODE", "REPORTINGDATE", "BSIS_FINAL_PAYMENTS"]
    }
}

# Function to execute a single query
def execute_query(name, query_details):
    try:
        with DatabaseConnection("BSIS") as conn:
            data = conn.execute_query(query_details["query"])
            return name, pd.DataFrame(data, columns=query_details["columns"])
    except Exception as e:
        return name, f"Error: {str(e)}"

# Main function for concurrent execution
def main():
    # Store the results
    results = {}

    # Use ProcessPoolExecutor for parallel processing
    with ProcessPoolExecutor(max_workers=5) as executor:  # Use between 2 to 5 processors
        # Map the query execution function to the queries
        future_to_query = {
            executor.submit(execute_query, name, query_details): name
            for name, query_details in queries.items()
        }

        # Collect the results as they complete
        for future in future_to_query:
            query_name = future_to_query[future]
            try:
                name, df_or_error = future.result()
                results[name] = df_or_error
            except Exception as exc:
                results[query_name] = f"Error: {str(exc)}"

    # Extract DataFrames
    edi_df = results.get("edi", pd.DataFrame())
    bsis_df = results.get("bsis", pd.DataFrame())
    bsis_final_df = results.get("bsis_final", pd.DataFrame())

    # Display DataFrames or errors
    if isinstance(edi_df, pd.DataFrame):
        print("EDI DataFrame:")
        print(edi_df.head())
    else:
        print(f"Error in EDI query: {edi_df}")

    if isinstance(bsis_df, pd.DataFrame):
        print("BSIS DataFrame:")
        print(bsis_df.head())
    else:
        print(f"Error in BSIS query: {bsis_df}")

    if isinstance(bsis_final_df, pd.DataFrame):
        print("BSIS Final DataFrame:")
        print(bsis_final_df.head())
    else:
        print(f"Error in BSIS Final query: {bsis_final_df}")

# Run the main function
if __name__ == "__main__":
    main()


# #from database
# from utils.database import DatabaseConnection
# sql_edi = """SELECT 
#     INSTITUTIONCODE, 
#     REPORTINGDATE, 
#     COUNT(*) AS RECEIPTS
# FROM 
#     ITRS_URT_RECEIPTS@BSIS_TO_EDI
# GROUP BY 
#     INSTITUTIONCODE, 
#     REPORTINGDATE
# ORDER BY 
#     INSTITUTIONCODE, 
#     REPORTINGDATE"""
# sql_bsis = """SELECT 
#     INSTITUTIONCODE, 
#     REPORTINGDATE, 
#     COUNT(*) AS RECEIPTS
# FROM 
#     ITRS_URT_RECEIPTS

# GROUP BY 
#     INSTITUTIONCODE, 
#     REPORTINGDATE
# ORDER BY 
#     INSTITUTIONCODE, 
#     REPORTINGDATE"""
# sql_bsis_final = """SELECT 
#     INSTITUTIONCODE, 
#     REPORTINGDATE, 
#     COUNT(*) AS RECEIPTS
# FROM 
#     ITRS_URT_RECEIPTS_FINAL
# GROUP BY 
#     INSTITUTIONCODE, 
#     REPORTINGDATE
# ORDER BY 
#     INSTITUTIONCODE, 
#     REPORTINGDATE"""

# """
# removed: WHERE
#     reportingdate between '31-JAN-18' and '31-DEC-24'
# """
# edi_df = pd.DataFrame()
# bsis_df = pd.DataFrame()
# bsis_final_df = pd.DataFrame()
# with DatabaseConnection("BSIS") as conn:
#     try:
#         edi_data = conn.execute_query(sql_edi)
#         bsis_data =conn.execute_query(sql_bsis)
#         bsis_final_data =conn.execute_query(sql_bsis_final)
        
#         columns1 = ["INSTITUTIONCODE","REPORTINGDATE","EDI_RECEIPTS"]    
#         columns2 = ["INSTITUTIONCODE","REPORTINGDATE","BSIS_RECEIPTS"] 
#         columns3 = ["INSTITUTIONCODE","REPORTINGDATE","BSIS_FINAL_RECEIPTS"]
#         edi_df = pd.DataFrame(edi_data, columns=columns1)       
#         bsis_df = pd.DataFrame(bsis_data, columns=columns2)
#         bsis_final_df = pd.DataFrame(bsis_final_data, columns=columns3)

#     except Error as e:
#         print(e)

Error in EDI query: Error: A process in the process pool was terminated abruptly while the future was running or pending.
Error in BSIS query: Error: A process in the process pool was terminated abruptly while the future was running or pending.
Error in BSIS Final query: Error: A process in the process pool was terminated abruptly while the future was running or pending.

In [58]:
#from database
from utils.database import DatabaseConnection
sql_edi = """SELECT 
    INSTITUTIONCODE, 
    REPORTINGDATE, 
    COUNT(*) AS RECEIPTS
FROM 
    ITRS_URT_RECEIPTS@BSIS_TO_EDI
GROUP BY 
    INSTITUTIONCODE, 
    REPORTINGDATE
ORDER BY 
    INSTITUTIONCODE, 
    REPORTINGDATE"""
sql_bsis = """SELECT 
    INSTITUTIONCODE, 
    REPORTINGDATE, 
    COUNT(*) AS RECEIPTS
FROM 
    ITRS_URT_RECEIPTS

GROUP BY 
    INSTITUTIONCODE, 
    REPORTINGDATE
ORDER BY 
    INSTITUTIONCODE, 
    REPORTINGDATE"""
sql_bsis_final = """SELECT 
    INSTITUTIONCODE, 
    REPORTINGDATE, 
    COUNT(*) AS RECEIPTS
FROM 
    ITRS_URT_RECEIPTS_FINAL
GROUP BY 
    INSTITUTIONCODE, 
    REPORTINGDATE
ORDER BY 
    INSTITUTIONCODE, 
    REPORTINGDATE"""

"""
removed: WHERE
    reportingdate between '31-JAN-18' and '31-DEC-24'
"""
edi_df = pd.DataFrame()
bsis_df = pd.DataFrame()
bsis_final_df = pd.DataFrame()
with DatabaseConnection("BSIS") as conn:
    try:
        edi_data = conn.execute_query(sql_edi)
        bsis_data =conn.execute_query(sql_bsis)
        bsis_final_data =conn.execute_query(sql_bsis_final)
        
        columns1 = ["INSTITUTIONCODE","REPORTINGDATE","EDI_PAYMENTS"]    
        columns2 = ["INSTITUTIONCODE","REPORTINGDATE","BSIS_PAYMENTS"] 
        columns3 = ["INSTITUTIONCODE","REPORTINGDATE","BSIS_FINAL_PAYMENTS"]
        edi_df = pd.DataFrame(edi_data, columns=columns1)       
        bsis_df = pd.DataFrame(bsis_data, columns=columns2)
        bsis_final_df = pd.DataFrame(bsis_final_data, columns=columns3)

    except Error as e:
        print(e)

In [59]:
summary_df =  pd.read_csv(r"C:\edi_data\summary_receipts2.csv")
summary_df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\edi_data\\summary_RECEIPTS3.csv'

In [ ]:
# import pandas as pd
# from concurrent.futures import ProcessPoolExecutor

# # Ensure REPORTINGDATE in `summary_df` is in datetime64 format
# summary_df['REPORTINGDATE'] = pd.to_datetime(summary_df['REPORTINGDATE'], format='%Y-%m-%d')

# # Function to perform a merge operation
# def perform_merge(left_df, right_df, on_columns, how='left'):
#     return left_df.merge(right_df, on=on_columns, how=how)

# # Main function for merging
# def main():
#     # List of merging steps with the corresponding DataFrames
#     merge_tasks = [
#         (summary_df, edi_df, ['INSTITUTIONCODE', 'REPORTINGDATE']),
#         (None, bsis_df, ['INSTITUTIONCODE', 'REPORTINGDATE']),  # Placeholder for the intermediate merged result
#         (None, bsis_final_df, ['INSTITUTIONCODE', 'REPORTINGDATE'])
#     ]

#     # Use ProcessPoolExecutor for parallel merging
#     with ProcessPoolExecutor(max_workers=5) as executor:
#         merged_results = []
        
#         # Submit the first task (summary_df with edi_df)
#         merged_results.append(executor.submit(perform_merge, merge_tasks[0][0], merge_tasks[0][1], merge_tasks[0][2]))
        
#         # Process subsequent merges sequentially but in parallel using the intermediate results
#         for i in range(1, len(merge_tasks)):
#             previous_result = merged_results[-1].result()  # Get the intermediate merged result
#             merged_results.append(
#                 executor.submit(perform_merge, previous_result, merge_tasks[i][1], merge_tasks[i][2])
#             )

#     # Get the final merged DataFrame
#     merged_df = merged_results[-1].result()

#     # Define the desired column order
#     column_order = [
#         'Month', 'Filename', 'INSTITUTIONCODE', 
#         'REPORTINGDATE', 'FILES_RECEIPTS', 
#         'EDI_RECEIPTS', 'BSIS_RECEIPTS', 
#         'BSIS_FINAL_RECEIPTS'
#     ]

#     # Reorder the columns
#     merged_df = merged_df[column_order]

#     # Save the final DataFrame to disk
#     merged_df.to_csv('urt_receipts_comparison.csv', index=False)

#     # Display information about the merged DataFrame
#     print(merged_df.info())

#     # Display the first few rows of the merged DataFrame
#     print(merged_df.head())

# # Run the main function
# if __name__ == "__main__":
#     main()

import pandas as pd

summary_df =  pd.read_csv(r"C:\edi_data\summary_receipts2.csv")

# Ensure REPORTINGDATE in summary_df is in datetime64 format
summary_df['REPORTINGDATE'] = pd.to_datetime(summary_df['REPORTINGDATE'], format='%Y-%m-%d')

# Merge the DataFrames sequentially
merged_df = (
    summary_df
    .merge(edi_df, on=['INSTITUTIONCODE', 'REPORTINGDATE'], how='left')   # Join with edi_df
    .merge(bsis_df, on=['INSTITUTIONCODE', 'REPORTINGDATE'], how='left')  # Join with bsis_df
    .merge(bsis_final_df, on=['INSTITUTIONCODE', 'REPORTINGDATE'], how='left')  # Join with bsis_final_df
)

# Define the desired column order
# column_order = [
#     'Month', 'Filename', 'INSTITUTIONCODE', 
#     'REPORTINGDATE', 'FILES_RECEIPTS', 
#     'EDI_RECEIPTS', 'BSIS_RECEIPTS', 
#     'BSIS_FINAL_RECEIPTS'
# ]

# # Reorder the columns
# merged_df = merged_df[column_order]
# Save in disk
merged_df.to_csv(r"C:\edi_data\urt_receipts_comparison.csv")
# Display information about the merged DataFrame
print(merged_df.info())

# Display the first few rows of the merged DataFrame
print(merged_df.head())

#### UPDATING RECEIPTS

In [34]:
import os
import pandas as pd
from datetime import datetime
from concurrent.futures import ThreadPoolExecutor
import logging
import oracledb
from sqlalchemy import create_engine

filtered_data = pd.DataFrame()
# Configure logging for error tracking
logging.basicConfig(
    filename="process_log.log",
    level=logging.ERROR,
    format="%(asctime)s - %(levelname)s - %(message)s"
)

# Oracle Database connection details
db_user = "BSIS_DEV"
db_password = "bsis_dev"
db_host = "172.16.1.167"
db_port = "1521"  # Default: 1521
db_service_name = "BOT1DB"  # Use service name instead of SID
table_name = "ITRS_URS_RECEIPTS"

# Enable Oracle Thick mode if needed (Uncomment if using Oracle Instant Client)
# oracledb.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_8")

# Create Oracle database engine using `oracledb`
oracle_dsn = f"{db_host}:{db_port}/{db_service_name}"
#engine = create_engine(f"oracle+oracledb://{db_user}:{db_password}@{oracle_dsn}")

# Define the directory containing the Excel files
data_path = r"C:\edi_data\test"

# Define the column names for Excel data
columns = ['SNO', 'PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']
#filtered_data = pd.DataFrame()
# Function to process a single file
def process_file(file, engine):
    """
    Processes an Excel file to extract relevant data.

    Args:
        file (str): The filename of the Excel file to process.
        data_path (str): The directory path where the file is located.

    Returns:
        dict: Summary information about the processed file.
    """
    try:
        file_path = os.path.join(data_path, file)

        # Check if the file is an Excel file
        if file.endswith(".xls") or file.endswith(".xlsx"):
            # Read the Excel file
            data = pd.read_excel(
                file_path,
                sheet_name='ITRS2_URT_RECEIPTS',  # Specify the sheet name
                usecols="A:H",                   # Select columns A to H
                skiprows=7,                      # Skip the first 7 rows
                names=columns                    # Apply column names
            )

            # Filter rows where columns PURPOSE to DESCRIPTION are not empty or null
            filtered_data = data.dropna(subset=['PURPOSE', 'CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

            filtered_data['INSTITUTIONCODE'] = file[:4]
            filtered_data['REPORTINGDATE']  =  datetime.strptime(file[8:14], '%d%m%y').strftime('%Y-%m-%d') 
            
            # Insert data into Oracle database
            with engine.begin() as connection:
                filtered_data.to_sql(
                    table_name,
                    connection,
                    if_exists='append',
                    index=False,
                    method='multi',
                    chunksize=1000  # Optimize batch insert
                )

            logging.info(f"Processed {file}: {len(filtered_data)} rows inserted successfully.")
            return {"file": file, "status": "Success", "rows_inserted": len(filtered_data)}

    except Exception as e:
        logging.error(f"Error processing {file}: {e}")
        return {"file": file, "status": "Failed", "error": str(e)}


# Main function to process all files
def main():
    """
    Main function to process all Excel files in the specified directory.
    """

    # List all files in the directory (filtering only Excel files)
    files = [f for f in os.listdir(data_path) if f.endswith(".xls") or f.endswith(".xlsx")]

    # Initialize a list to store the output summary
    output_summary = []

    # Create a single database engine instance for thread safety
    engine = create_engine(f"oracle+oracledb://{db_user}:{db_password}@{oracle_dsn}")

    # Process files concurrently
    with ThreadPoolExecutor(max_workers=5) as executor:
        future_to_file = {executor.submit(process_file, file, engine): file for file in files}

        for future in as_completed(future_to_file):
            result = future.result()
            if result:
                output_summary.append(result)

    
    # Convert the output summary to a pandas DataFrame
    summary_df = pd.DataFrame(output_summary)

    # Display the summary
    print(summary_df)

    # Save the summary to a CSV file
    summary_csv_path = os.path.join(data_path, "summary_receipts.csv")
    summary_df.to_csv(summary_csv_path, index=False)
    print(f"Summary saved to {summary_csv_path}")

# Run the script
if __name__ == "__main__":
    main()

                 file  status  \
0  A1991078300924.xls  Failed

                                               error
0  Oracle Database FLOAT types use 'binary precis...
Summary saved to C:\edi_data\test\summary_receipts.csv

C:\Users\255759804774\AppData\Local\Temp\ipykernel_1148\2637674680.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['INSTITUTIONCODE'] = file[:4]
C:\Users\255759804774\AppData\Local\Temp\ipykernel_1148\2637674680.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['REPORTINGDATE']  =  datetime.strptime(file[8:14], '%d%m%y').strftime('%Y-%m-%d')

In [2]:
df.columns

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

In [35]:
filtered_data.head()

Empty DataFrame
Columns: []
Index: []

In [72]:
import os
import pandas as pd
import logging
import traceback
from datetime import datetime
from concurrent.futures import ThreadPoolExecutor, as_completed
from sqlalchemy import create_engine, text

# Configure logging
logging.basicConfig(
    filename="process_log.log",
    level=logging.INFO,
    format="%(asctime)s - %(levelname)s - %(message)s"
)

# Oracle Database connection details
# DB_USER = "BSIS_DEV"
# DB_PASSWORD = "bsis_dev"
# DB_HOST = "172.16.1.167"
# DB_PORT = "1521"
# DB_SERVICE_NAME = "BOT1DB"
DB_USER = "EDI"
DB_PASSWORD = "edi"
DB_HOST = "172.16.2.122"  #EDI PROD
DB_PORT = "1521"
DB_SERVICE_NAME = "EDIPROD"
TABLE_NAME = "ITRS_URT_RECEIPTS"

# File processing directory
DATA_PATH = r"C:\edi_data\test"

# Define expected column names (Mapped to DB)
COLUMNS = ['DESCRIPTIONNO', 'PURPOSE', 'PU_CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION']

# Create database engine
def create_db_engine():
    oracle_dsn = f"{DB_HOST}:{DB_PORT}/{DB_SERVICE_NAME}"
    engine = create_engine(
        f"oracle+oracledb://{DB_USER}:{DB_PASSWORD}@{oracle_dsn}",
        pool_size=5, max_overflow=10
    )
    return engine

# Process each file and insert/update into database
def process_file(file, engine):
    try:
        file_path = os.path.join(DATA_PATH, file)
        if not file.endswith((".xls", ".xlsx")):
            return {"file": file, "status": "Skipped", "reason": "Invalid file format"}

        # Read and clean data
        df = pd.read_excel(
            file_path, sheet_name='ITRS2_URT_RECEIPTS', usecols="A:H", skiprows=7, names=COLUMNS
        ).dropna(subset=['PURPOSE', 'PU_CODE', 'COUNTRY', 'SECTOR', 'CURRENCY', 'AMOUNT', 'DESCRIPTION'])

        # Extract institution code
        reporting_date_str = file[:4]
        df['REPORTINGDATE'] = datetime.strptime(reporting_date_str, '%d%m%y').date()
        #df['INSTITUTIONCODE'] = file[:4]
        df['DESCRIPTIONNO'] = df['DESCRIPTIONNO'].fillna(0).astype(int)
        print(f"Extracted reporting date: {df['REPORTINGDATE'].unique()}")

        # Extract and validate reporting date
        reporting_date_str = file[8:14]
        try:
            df['REPORTINGDATE'] = pd.to_datetime(reporting_date_str, format='%d%m%y').dt.date
        except ValueError:
            return {"file": file, "status": "Failed", "error": f"Invalid date format: {reporting_date_str}"}
        
        # Add missing 'STATUS' column (defaulting to 'N' for New)
        df['STATUS'] = 'N'

        # Insert or Update logic (UPSERT)
        insert_update_sql = text(f"""
            MERGE INTO {TABLE_NAME} tgt
            USING (VALUES (:INSTITUTIONCODE, :REPORTINGDATE, :DESCRIPTIONNO, :PURPOSE, 
               :PU_CODE, :COUNTRY, :SECTOR, :CURRENCY, :AMOUNT, :DESCRIPTION, :STATUS)) src
            ON (tgt.INSTITUTIONCODE = src.INSTITUTIONCODE 
                AND tgt.REPORTINGDATE = src.REPORTINGDATE
                AND tgt.DESCRIPTIONNO = src.DESCRIPTIONNO)
            WHEN MATCHED THEN 
                UPDATE SET tgt.PURPOSE = src.PURPOSE,
                           tgt.PU_CODE = src.PU_CODE,
                           tgt.COUNTRY = src.COUNTRY,
                           tgt.SECTOR = src.SECTOR,
                           tgt.CURRENCY = src.CURRENCY,
                           tgt.AMOUNT = src.AMOUNT,
                           tgt.DESCRIPTION = src.DESCRIPTION,
                           tgt.STATUS = src.STATUS
            WHEN NOT MATCHED THEN
                INSERT (INSTITUTIONCODE, REPORTINGDATE, DESCRIPTIONNO, PURPOSE, PU_CODE, COUNTRY, SECTOR, CURRENCY, AMOUNT, DESCRIPTION, STATUS)
                VALUES (src.INSTITUTIONCODE, src.REPORTINGDATE, src.DESCRIPTIONNO, src.PURPOSE, src.PU_CODE, src.COUNTRY, src.SECTOR, src.CURRENCY, src.AMOUNT, src.DESCRIPTION, src.STATUS)
        """)

        with engine.begin() as conn:
            for _, row in df.iterrows():
                conn.execute(insert_update_sql, **row.to_dict())
            conn.commit()  # Ensure changes persist

        logging.info(f"Processed {file}: {len(df)} rows inserted/updated successfully.")
        print(f"Processed {file}: {len(df)} rows inserted/updated successfully.")
        return {"file": file, "status": "Success", "rows_processed": len(df)}

    except Exception as e:
        logging.error(f"Error processing {file}: {e}\n{traceback.format_exc()}")
        return {"file": file, "status": "Failed", "error": str(e)}

# Main function
def main():
    files = [f for f in os.listdir(DATA_PATH) if f.endswith((".xls", ".xlsx"))]
    if not files:
        print("No files found to process.")
        return

    #engine = create_db_engine()
    engine = create_engine(
        f"oracle+cx_oracle://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/?service_name={DB_SERVICE_NAME}",
        pool_size=5, max_overflow=10
    )
    output_summary = []

    with ThreadPoolExecutor(max_workers=8) as executor:
        futures = {executor.submit(process_file, file, engine): file for file in files}

        for future in as_completed(futures):
            result = future.result()
            if result:
                output_summary.append(result)

    # Save summary report
    summary_df = pd.DataFrame(output_summary)
    summary_csv_path = os.path.join(DATA_PATH, "summary_receipts.csv")
    summary_df.to_csv(summary_csv_path, index=False)
    print(f"Summary saved to {summary_csv_path}")

if __name__ == "__main__":
    main()

Summary saved to C:\edi_data\test\summary_receipts.csv